* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -o-box-sizing: border-box; 
  box-sizing: border-box; 
  /* adds animation for all transitions */ 
  -webkit-transition: .25s ease-in-out; 
  -moz-transition: .25s ease-in-out; 
  -o-transition: .25s ease-in-out; 
  transition: .25s ease-in-out; 
  margin: 0; 
  padding: 0; 
  -webkit-text-size-adjust: none; 
} 

/* Makes sure that everything is 100% height */ 

html,body { 
  height: 100%; 
  overflow: hidden; 
} 

/* gets the actual input out of the way; 
we're going to style the label instead */ 

#drawer-toggle { 
  position: absolute; 
  opacity: 0; 
}

#drawer-toggle-label {
  left: 0px; 
  height:50px; 
  width: 50px; 
  display: block; 
  position: fixed; 
  background: rgba(255,255,255,.0); 
  z-index: 1; 
} 

/* adds our "hamburger" menu icon */ 

#drawer-toggle-label:before { 
  content: ''; 
  display: block; 
  position: absolute; 
  height: 2px; 
  width: 24px; 
  background: #8d8d8d; 
  left: 13px; 
  top: 18px; 
  box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d; 
} 

header { 
  width: 100%; 
  position: fixed; 
  left: 0px; 
  background: #efefef; 
  padding: 10px 10px 10px 50px; 
  font-size: 30px; 
  line-height: 30px; 
  z-index: 0; 
  text-align: center;
}

/* drawer pane */ 

#drawer { 
  position: fixed; 
  top: 0; 
  left:-300px; 
  height: 100%; 
  width: 300px; 
  background: #2f2f2f; 
  overflow-x: hidden; 
  overflow-y: scroll; 
  padding: 20px; 
  -webkit-overflow-scrolling: touch; 
  text-align: center;
} 

#drawer-title {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

#search-input {
  margin-bottom: 5px;
  height: 2em;
}

#search-options {
  margin-bottom: 20px;  
}

#location-list .location-item {
  padding: 5px;
}

.location-item:hover {
  background-color: gray;
  cursor: pointer;
}

#location-list .location-title {
  color: white;
}

#search-options {
  color: white;
}

/* page content pane */ 

#page-content { 
  margin-left: 0px; 
  margin-top: 50px; 
  width: 100%; 
  height: calc(100% - 50px); 
  overflow-x:hidden; 
  overflow-y:scroll; 
  -webkit-overflow-scrolling: touch; 
  padding: 20px; 
}

#map {
  height: 100%;
}

/* InfoWindow */

#infowindow-rating {
  font-weight: bold;  
  margin-top: 5px;
}

/* checked styles (menu open state) */ 

#drawer-toggle:checked ~ #drawer-toggle-label { 
  height: 100%; 
  width: calc(100% - 300px); 
  background: rgba(255,255,255,.0); 
} 

#drawer-toggle:checked ~ #drawer-toggle-label, 
#drawer-toggle:checked ~ header { 
  left: 300px; 
} 

#drawer-toggle:checked ~ #drawer { 
  left: 0px; 
} 

#drawer-toggle:checked ~ #page-content { 
  margin-left: 300px; 
}

/* Media Queries */ 

@media all and (max-width:350px) { 

#drawer-toggle:checked ~ #drawer-toggle-label { 
  height: 100%; 
  width: 50px; 
} 

#drawer-toggle:checked ~ #drawer-toggle-label, 
#drawer-toggle:checked ~ header { 
  left: calc(100% - 50px); 
} 

#drawer-toggle:checked ~ #drawer { 
  width: calc(100% - 50px); 
  padding: 20px; 
} 

#drawer-toggle:checked ~ #page-content { 
  margin-left: calc(100% - 50px); 
} 
}